*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    height: 100vh;
    font-size: 14px;
}
body{
    background-color: rgb(10, 10, 37);
    background-size: cover;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 540px;
    margin: auto;

    padding: 20px;
    color: white;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-picture{
    border-radius: 50%;
    width: 150px;
    
}
p, h1{
    text-align: center;
}

.medias{
    margin-top: 80px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
a{
    padding: 0 45px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(10, 10, 37);
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.way{
    width: 250px;
    height: 25px;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(240, 255, 31));
    display: flex;
    justify-content: center;
    align-items: center;
}
.credits{
    margin-top: 100px;
}

@media screen and (min-width:815px){
    html{
        font-size: 16px;
    }
    .profile-picture{
        width: 110px;
    }
}